@import "@styles/theme.scss";

@mixin btbw {
  border-top-width: 0;
  border-bottom-width: 0;
}

@mixin btbwn {
  border-bottom-width: 2px;
  border-bottom-color: #eeeeee;
}


view, text, scroll-view {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.buy-details {
  position: relative;
  overflow: hidden;
}

.item-warp {
  background: #fafafa;
}

.item-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

  .date-at-list {
    &::after {
      @include btbw;
      @include btbw;
    }
    .item-extra__info {
      color: #000,
    }
    .item {
      &::after {
        @include btbw;
      }
    }
  }


.float-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  &-title {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    &-img {
      width: 30%;
    }
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 20px;
    }
  }

  .dollar {
    color: red;
    font-size: 32px;
  }

  .category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .setting-spec {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 24px;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    .at-input-number {
      border-color: #fe871f;
      input {
        border-color: #fe871f;
      }
      text {
        color: #fe871f;
      }
    }
  }
}

.at-modal-date {
  .at-modal__container {
    width: 95%;
    .at-modal__content {
      padding: 10px 8px;  
    }
  }
}

.tag-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .tag {
    margin: 10px;
  }
  .tag-active {
    background-color: #fe871f;
    border-color: #fe871f;
  }
}
.tag-date {
  padding-left: 0px;
  align-items: center;
}

.img {
  width: 100%;
  height: 180px;
}

.release {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  .btn {
    &[plain] {
      border-width: 0;
    }
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 100px;
    color: #fff;
    background-color: #fe871f !important;
    font-size: 32px;
  }
}



.at-button {
  border-radius: 0;
}

.at-float-layout .layout-body{
  padding: 0;
}

.wx-pay-address {
  display: flex;
  flex-direction: column;
  .store {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-name {
      font-size: 35px;
      padding: 10px;
    }
    &-dollar {
      padding: 10px;
      margin-top: 20px;
      font-size: 40px;
      font-weight: bold;
    }
  }
}

.at-modal__footer .at-modal__action > button:last-child {
  color: #fff;
  font-size: 35px;
  background-color: green;
}

.pay-address {
  z-index: 2;
  display: flex;
	flex-direction: row;
  margin: 20px;
  margin-bottom: 100px;
  &-userName-phone-address {
    margin: 20px;
  }
  .addressimg{
		margin: 20px;
		font-size: 52px;
    color: #fe871f;
    display: flex;
    align-items: center;
  }
}
.data-start-end {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  justify-content: space-between;
  padding: 10px;
  .data-title {
    margin-left: 20px;
    
  }
  .data-content {
    margin-right: 20px;
    width: 55%;
    text-align: right;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
}
.at-list__item-extra {
  max-width: 100%;
}

.station {
  width: 100%;
  .station-item {
    border-radius: 3px;
    color: black;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    padding: 12px 15px;
  }
  .area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .area-item {
      .area-checkbox {
        padding: 20px 20px;
      }
    }
  }
}

.pay-address-userName-phone-address{
  display: flex;
  align-items: center;
  font-size: 32px;
}
