@import '@styles/theme.scss';

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // background-color: red;
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    min-width: 40%;
    height: 180px;
    @include border(right bottom, 1px, solid, rgba(0, 0, 0, .15));
    .img {
      font-size: 52px;
      color: #fe871f;
    }
    .title {
      margin-top: 16px;
      color: #333;
      font-size: 28px;
      line-height: 28px;
    }
    &-first {
      border-top: 1px solid rgba(0, 0, 0, .15);
    }
    &-nth {
      border-right-width: 0;
    }
  }
}
