@import '@styles/theme.scss';

.user-release-details {
  @include wh(100%, 100%);
  .nav-bar {
    background-color: #fe871f;
    .nav-bar-title {
      color: white;
      font-weight: 500;
    }
  }
  .user-release-details-content {

  }
}