@import '@styles/theme.scss';

.home {
  background-color: #F4F4F4;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.data-list {
  min-width: 40%;
  margin-bottom: 20px;
}

