@import '../../styles/theme.scss';
@import "~taro-ui/dist/style/components/drawer.scss";
@import "~taro-ui/dist/style/components/list.scss";
.home {
  @include wh(100%, 100%);
  .title {
    font: {
      size: 24;
      weight: bold;
    }
  }
}
