@import '@styles/theme.scss';

.user {
  @include wh(100%, 100%);
  .scroll-view {
    background-color: #fff;
  }
  .title {
    font: {
      size: 24;
      weight: bold;
    }
  }
}
