@import '@styles/theme.scss';

.information-item {

  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 20px;

  &-station {
    padding: 20px;
    margin-left: 30px;
    font-size: 25px;
  }

  &-goods {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
    padding: 10px;
  }

  &-img {
    width: 30%;
  }

  &-text {
    width: 45%;
    height: 200px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    &-type {
      background-color: #F4F4F4;
      color: #999999;
      margin-top: 30px;
      padding: 8px;
    }

  }


  &-dollar {
    height: 200px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: flex-end;

    &-workerNum {
      color: #999999;
      font-size: 24px;
      padding: 10px;
    }
  }

  .setting-spec {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
  }

}

.img {
  width: 100%;
  height: 180px;
}
