@import '@styles/theme.scss';

.menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  .item {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eeeeee;
    .left {
      display: flex;
      align-items: center;
      line-height: 100%;
      .img {
        font-size: 40px;
        color: #fe871f;
      }
      text {
        margin-left: 20px;
        white-space: nowrap;
      }
    }
    .right {
      display: flex;
      align-items: center;
      line-height: 100%;
      .arrow {
        font-size: 40px;
      }
    }
  }
}
