@import '@styles/theme.scss';

.user-information {
  @include wh(100%, 100%);
  .form {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    &::after {
      border-left: 2PX solid #bababa;
      border-right: 2PX solid #bababa;
      border-color: #bababa;
      border-top-width: 2PX;
      border-bottom-width: 2PX;
      border-radius: 20px;
    }
    .id {
      input {
        text-align: right;
        padding-right: 30px;
      }
    }
    .work-type {
      input {
        text-align: right;
        margin-right: 30px;
        color: #999;
      }
    }
    .username {
      input {
        text-align: right;
        padding-right: 30px;
      }
    }
    .nickname {
      border-top: 1PX solid #bababa;
      input {
        text-align: right;
        padding-right: 30px;
      }
    }
  }
  .at-list-company {
    &::after {
      border-top-width: 0px;
      border-bottom: 2PX solid #bababa;
    }
    .at-list-item {
      &::after {
        border-bottom-width: 0px;
      }
      .at-list__item-extra {
        line-height: 1;
        text-align: right;
        max-width: none;
        font-size: 32px;
      }
    }
  }
}

.margin-to-padding {
  margin-left: 0;
  padding-left: 24px;
  &::after {
    border-color: #bababa;
    border-width: 2PX;
  }
  .at-input--disabled {
    opacity: 1;
  }
}

.tag-wrapper {
  @include wh(100%, 100%);
  display: flex;
  // flex-direction flex-wrap
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
  .tag {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .tag-active {
    background-color: #fe871f;
    border-color: #fe871f;
  }
}

.button {
  &::after {
    border: 0px;
  }
  height: 80px;
  line-height: 80px;
  padding: 0;
  margin: 40px 20px 40px 20px;
  font-size: 32px;
  color: #fff;
  background: #fe871f;
  text-align: center;
  font-weight: 600;
}

// .at-list-passarea {
//   &::after {
//     border-top-width: 0px;
//     border-bottom: 0px;
//   }
//   .at-list-passarea-item {
//     &::after {
//       border-bottom-width: 0px;
//     }
//     .at-list__item-extra {
//       line-height: 1;
//       text-align: right;
//       max-width: none;
//       font-size: 32px;
//     }
//   }
// }
.passarea {
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .passarea-title {
    width: 172px;
  }
  .passarea-value {

  }
}

.at-list-sex {
  &::after {
    border-color: #bababa;
    border-width: 2PX;
    border-top-width: 0px;
  }
  .at-list-sex-item {
    &::after {
      border-bottom-width: 0px;
    }
    .at-list__item-extra {
      line-height: 1;
      text-align: right;
      max-width: none;
      font-size: 32px;
    }
  }
}

.at-float-layout-container {
  height: 100%;
  .layout-body {
    font-size: 28px;
    padding: 18px 0 18px 0;
    max-height: 828px;
    min-height: 514px;
  }
  padding: 9px 0 9px 0;
  .passarea-wrapper {
    width: 100%;
    // height: 750px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .station {
      width: 100%;
      // background-color: yellow;
      .station-item {
        border-radius: 3px;
        color: black;
        background-color: #eeeeee;
        display: flex;
        flex-direction: row;
        padding: 12px 15px;
        // border-top: 1px solid gray;
        // border-left: 1px solid gray;
        // border-right: 1px solid gray;
      }
      .area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .area-item {
          .area-checkbox {
            padding: 20px 20px;
          }
          // border-top: 1px solid gray;
          // border-left: 1px solid gray;
          // border-right: 1px solid gray;
        }
      }
    }
  }
}