@import '@styles/theme.scss';

.menu {
  @include wh(100%, 100%);
  background-color: #eee;
  .section-container {
    background-color: white;
    margin-bottom: 25px;
    .section-header {
      border-bottom: 1px solid #bababa;
      padding: 15px;
      .section-header-title {
        font-weight: 600;
      }
    }
    .sub-menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // background-color: red;
      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;
        // min-width: 40%;
        height: 180px;
        // @include border(right bottom, 1px, solid, rgba(0, 0, 0, .15));
        .img {
          font-size: 52px;
          color: #fe871f;
        }
        .title {
          margin-top: 16px;
          color: #333;
          font-size: 28px;
          line-height: 28px;
        }
        &-first {
          border-top: 1px solid rgba(0, 0, 0, .15);
        }
        &-nth {
          border-right-width: 0;
        }
      }
    }
  }
}
